extends partials/layout

block content
	include abstracts/functions.pug
	include abstracts/vars.pug
	include abstracts/mixins.pug
	.content
		h2 A simple gulp boilerplate that gets you up and running with popular tasks.
		p Fork the repo and create your own.
		+img("assets/img/harley-davidson-1628265-unsplash.jpeg", "image for a test", sizes100)(class="image--test")
