mixin header(opts, mods)

	//-	Parameters:
	//-	opts {object} - Object with all customizable options 
	//-	mods {string} - comma-separated list of modifiers
	//-	Call: +header({}, 'some-mod')
	-
		// modifiers list
		var allMods = '';
		if(typeof(mods) !== 'undefined' && mods) {
			var modsList = mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + 'header--' + modsList[i].trim();
			}
		}

	header.header(class=allMods)&attributes(attributes)
		block